<html>
<head>
    <title>Simple HTML Form</title>
</head>
<body>
    <h1>Simple HTML Form</h1>
    <form action="/register" method="post">
        <p>
            <label for="login">Login:</label>
            <input type="text" id="login" name="login" required>
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" required>
        </p>
       
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
</body>
</html>